@model WAP_EMHGC.Models.Chart

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Chart</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GraphVie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GraphVie)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GraphJtwc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GraphJtwc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GraphObj)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GraphObj)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GraphTb)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GraphTb)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GraphWo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GraphWo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GraphOrther)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GraphOrther)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data.DataId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ChartId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
