@model WAP_EMHGC.Models.Station

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Station</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Idstation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Idstation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TempMin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TempMin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tempmax)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tempmax)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NorTemp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NorTemp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Feedlike)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Feedlike)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WindMax)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WindMax)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GustWind)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GustWind)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pressuse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pressuse)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hummity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hummity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lon)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Wave)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Wave)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HighSufw)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HighSufw)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LowSufw)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LowSufw)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rain)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rain)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RainPossi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RainPossi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DewPoint)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DewPoint)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cloud)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cloud)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Snow)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Snow)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeUpdate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeUpdate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Note)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Note)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataStation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataStation.DataStationId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.StationId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
