@model IEnumerable<WAP_EMHGC.Models.Forecast>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ForecastAsia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ForecastEnso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ForecastTemp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ForecastWind)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ForecastSea)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Note)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ForecastAsia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ForecastEnso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ForecastTemp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ForecastWind)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ForecastSea)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Note)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data.DataId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ForecastId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ForecastId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ForecastId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
